# Node modules
node_modules/

# Environment variables
.env

# Build output
client/build/

# Uploaded files
uploads/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/
